# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mauvsajy/cloudcompany.cc"
PassengerBaseURI "/"
PassengerNodejs "/home/mauvsajy/nodevenv/cloudcompany.cc/22/bin/node"
PassengerAppType node
PassengerStartupFile index.html
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END



<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the request does NOT match an existing file or directory,
  # redirect it to index.html so React Router can handle it.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
